@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root{
    --fontPrincipal: 'Montserrat', sans-serif;
    --cor01: #BA2BBD;
    --corBtnHover01: #e131e4;
    --corBtnHover02: #a424a7;
    --cor02: #00588E;
    --cor03: #FFEE05;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fontPrincipal);
}

body, html{
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* Conteiner do login */
.loginConteiner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 20px 60px 40px;
    flex: 1;
    
}

/* Nome Login e frase abaixo */
h1{
    position: relative;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
    
}

h1::before{
    position: absolute;
    bottom: 0px;
    content: "";
    width: 40px;
    height: 5px;
    background-color: var(--cor01);
}

p{
    font-size: 1.35em;
    font-weight: 500;
    margin-bottom: 50px;
    position: relative;
}

span{
    color: var(--cor01);
}

/* Conteiner e barra de email, senha e icones. */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    gap: 20px;
}

.loginDados{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.loginDados input{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.671)
}

.loginDados input:hover{
    border-color: var(--cor01);
}

.loginDados:hover label{
    transform: translate(0px, -2px);
    color: var(--cor01);
}

.loginDados i{
    font-size: 1.8em;
    font-weight: 400;
}

.loginDados label{
    padding: 0px 10px;
    transition: all .2s ease;
}

.BtnLogin{
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(90deg, var(--cor01), #831985);
    width: 50%;
    font-size: 1em;
    color: white;
    transition: all .3s ease;
}

.BtnLogin:hover{
    background: linear-gradient(90deg, var(--corBtnHover01), var(--corBtnHover02));
    letter-spacing: 2px;
    transform: translate(0px, -2px);
}

/* Botões de acesso alternativo (google e facebook) */
.redesConetiner{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
    gap: 10px;
}

.google{
    display: flex;
    background-color: red;
    width: 250px;
}

.google img{
    width: 40px;
}

.imgConteiner{
    flex: 1.2;
    background-image: url(../../imagens/ImgBanner.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 0px 0px 0px 150px;
    /*box-shadow: -2px 2px    20px var(--cor01);*/
}

