@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root{
    --fontPrincipal: 'Montserrat', sans-serif;
    --cor01: #BA2BBD;
    --cor02: #00588E;
    --cor03: #FFEE05;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fontPrincipal);
}

body, html{
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* Conteiner do login */
.loginConteiner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 20px 60px 40px;
    flex: 1;
    
}

/* Nome Login e frase abaixo */
h1{
    position: relative;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
    
}

h1::before{
    position: absolute;
    bottom: 0px;
    content: "";
    width: 40px;
    height: 5px;
    background-color: var(--cor01);
}

p{
    font-size: 1.35em;
    font-weight: 500;
    margin-bottom: 50px;
    position: relative;
}

span{
    color: var(--cor01);
}

/* Conteiner e barra de email, senha e icones. */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    gap: 20px;
}

.loginDados{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.loginDados input{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-bottom: 1px solid black;
}

.loginDados i{
    font-size: 1.7em;
    margin-right: 10px;
    font-weight: 400;
}

.BtnLogin{
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(90deg, var(--cor01), #831985);
    width: 50%;
    font-size: 1em;
    color: white;
    transition: all .3s ease;
}

.BtnLogin:hover{
    letter-spacing: 2px;
}

.imgConteiner{
    flex: 1.2;
    background-image: url(../../imagens/ImgBanner.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 0px 0px 0px 150px;
    /*box-shadow: -2px 2px    20px var(--cor01);*/
}

